
.App {
  text-align: center;
}

label {
  display: inline-block;
  width: 256px;
  text-align: right;
  margin-right: 10px;
}

input[type="number"] {
  width: 128px;
}

form {
  border: 2px solid #aaaaaa;
  border-radius: 8px;
  padding: 32px;
  width: 512px;
  text-align: center;
  margin: auto;
}

hr {
  border: 1px solid #aaaaaa;
}
